<h1><%= @team.name %> </h1>
<h3>Headcoach: <%= @team.headcoach.name %> </h3>

<h3>Coaches:</h3>
<% @team.coaches.each do |coach| %>
  <li><%= coach.name %><%= link_to "Remove", remove_coach_path({coach_id: coach.id}) %></li>
<%end%>

<h3>Students:</h3>
<% @team.students.each do |student| %>
  <li><%= student.name %> </li>
<%end%>

<%= form_tag(controller: "teams", action: "add_student", method: "post") do %>
  <%= label_tag(:student_secret_key, "Enter Student Key" ) %>
  <%= text_field(:student, :secret_key) %>
  <%= submit_tag("Add Student") %>
<% end %>

<%= link_to "Back", url_for(:back) %>
