<%= form_tag("/events/#{@event.id}/bout/#{@part1.bout_number}/vs/#{@part2.bout_number}", method: "put") do %>
<table class="table">
 <thead>
    <th>
      <%= @part1.student.name%>
    </th>
    <th>
      VS.
    </th>
    <th>
      <%= @part2.student.name%>
    </th>
 </thead>
  <td>
    Touches:
    <%= number_field(:participant1, :bout_points, value: 0,in: 0..5)%></br>
    Victory:
    <%= radio_button_tag(:victory, "1", required: true)%>
  </td><td>
  </td>
  <td>
    Touches:
    <%= number_field(:participant2, :bout_points, value: 0, in: 0..5)%> </br>
    Victory:
    <%= radio_button_tag(:victory, "2", required: true)%>
  </td>
</table>
<%= submit_tag("Submit", class:"btn btn-default btn-center")%>
<%end%>
