<div class="center">
<h3>Create Event For Team <%= @team.name%></h3>
<p>Events must have minimum of 4 participants and maximum of 8</p>
<div class="sign-template">
<%= form_for [@team,@event] do |f| %>
  <% if @event.errors %>
    <p> Error:</p>
    <% @event.errors.full_messages.each do |message| %>
      <li><%=message%></li>
    <%end%>
  <%end%>
  <%= f.text_field :event_title, placeholder:"Event Title", class:"form-control"%> </br>
  <%= f.label :participants %></br>
  <ol>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
  </ol>
  <button class='add-participant btn btn-sm btn-default' type='button'>Add Participant</button></br></br>
  <%= f.submit "Create Event", :class => 'btn btn-default'%>
<%end%>
</div>

<div class="coach">
<h3>Team's Students</h3>
<table class="table table-bordered">
  <thead>
    <td>Name</td>
    <td>Key</td>
  </thead>
  <% @team.students.each do |student| %>
  <tr>
    <td><%= student.name%></td>
    <td><%= student.secret_key%></td>
  </tr>
  <%end%>
</table>
</div>
</div>
