<h1><%= @event.event_title %></h1>
<p>The secret key to have other people view the event is: <%= @event.secret_key%></p>

<table>
  <thead>
    <th> Name</th>
    <th> #</th>
    <% (1..@event.participant_count).each do |x| %>
      <th><%= x%></th>
    <%end%>
    <th> V </th>
    <th> TS </th>
    <th> TR </th>
    <th> Ind </th>
    <th> Pl </th>
  </thead>
  <% @participants.each do |part| %>
  <tr>
    <td> <%= part.student.name %></td>
    <td> <%= part.bout_number %> </td>
     <% (1..@event.participant_count).each do |x| %>
      <%if part.bout_number == x %>
        <td>X</td>
      <% elsif part.bout_results[x] == 0%>
        <td> </td>
      <% else %>
        <td><%= part.bout_results[x] %></td>
      <%end%>
    <%end%>
    <td> <%= part.victories %></td>
    <td> <%= part.touches_scored %></td>
    <td> <%= part.touches_recieved %></td>
    <td> <%= part.indicator %></td>
    <td> <%= part.place %></td>
  </tr>
  <%end%>
</table>

<% if headcoach_signed_in? || coach_signed_in? %>
  <% @event.get_pool.each do |part| %>
    <%=link_to "#{part[0]} vs #{part[1]}", bout_path(@event,part[0],part[1]) %>
  <%end %>
<%end%>
