<h1> Welcome <%= @headcoach.name %>!</h1>

<div>
  <h3>Your Teams</h3>
    <ul>
      <%  @headcoach.teams.each do |team| %>
      <li><%= link_to "#{team.name}", team_path(team.id) %> <%= link_to "Edit", edit_team_path(team.id)%> <%= link_to "Delete", team_path(team.id), method: :delete %> </li>
      <% end %>
    </ul>
    <%= link_to "Create Team", new_team_path %>
    <%= link_to "Add Student", new_student_path %>
</div>
