<!DOCTYPE html>
<html>
<head>
  <title>Fencing Coach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="sign-in">
  <% if coach_signed_in? %>
    <%= link_to "Sign Out", destroy_coach_session_path, :method => :delete %>
    <%= link_to "Profile", coach_path(current_coach.id)%>
  <% else %>
    <%= link_to "Sign In", new_coach_session_path  %>
    <%= link_to "Sign Up", new_coach_registration_path  %>
  <% end %>
  </div>
  <%= link_to "Fencing Coach", root_path, {:class => "navbar-brand"} %>
</div>
<%= yield %>

</body>
</html>
