<!DOCTYPE html>
<html>
<head>
  <title>Fencing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if coach_signed_in? %>
  <%= link_to "Sign Out", destroy_coach_session_path, :method => :delete %>
  <%= link_to "Profile", coach_path(current_coach.id)%>
<% end %>
<%= link_to "Home", root_path%> 
<%= yield %>

</body>
</html>
